.wrapper {
	padding: 5px;
	padding-bottom: 15px;

	display: inline-block;
}

.wrapper table, th, td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

.wrapper table {
	border: 1px solid black;
	text-align: left;
}

.wrapper th, td {
    padding: 5px;
}

.main {
	width: 100%;
	text-align: center;
}

header {
	text-align: center;
}