body {
	color: #586e75;
	background-color: #fdf6e3;
}

header {
	text-align: center;
	color: #073642;
}

a {
	color: #268bd2;
}

a:hover {
	color: #d33682
}

.wrapper {
	padding: 5px;
	padding-bottom: 15px;

	display: inline-block;
}

.wrapper table, th, td {
	border-top: 1px solid #657b83;
	border-bottom: 1px solid #657b83;
	border-collapse: collapse;
}

.wrapper table {
	border: 1px solid #657b83;
	text-align: left;
}

.wrapper th, td {
    padding: 5px;
}

.wrapper td {
	color: #657b83;
}

.wrapper th:hover {
	color: #d33682;
}

.main {
	width: 100%;
	text-align: center;
}